.title {
  font: var(--font-l);
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.text {
  font: var(--font-m);
  color: var(--secondary-color);
}

.error {
  .title {
    color: var(--color-red-700);
  }

  .text {
    color: var(--color-red-100);
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
