.SideBar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  position: relative;
  transition: width 0.2s;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.collapsedBtn {
  position: absolute;
  right: -3.2rem;
  bottom: 3.2rem;
  z-index: 10;
}

.items {
  margin-top: 20px;
  margin-left: 30px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .items {
    margin-top: 20px;
    margin-left: 26px;
  }
}

.SideBarRedesigned {
  background: var(--light-bg-redesigned);
  width: 220px;
  height: 100%;
  border-radius: 32px;
}

.appLogo {
  padding-top: 20px;
}
