.SMALL {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;

  .card {
    display: inline-flex;
    height: 300px;
  }

  .row {
    display: flex;
    gap: 3rem;
  }
}

.BIG {
  .card:not(:first-child) {
    margin-top: 3rem;
  }
}
