.Code {
  border: 1px solid var(--primary-color);
  padding: 2rem;
  position: relative;
  background: var(--code-bg);
  overflow: auto;
}

.copyBtn {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.icon {
  stroke: currentcolor;
}
