.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-block: 1.2rem;
}

.btn {
  padding: 0.7rem 1.4rem;
  font-size: 2rem;
  color: #ccc;
  background-color: #222;
  border: 1px solid #222;
  border-radius: 4px;
  transition: all 0.2s;

  &:hover {
    background-color: #555;
    color: #fff;
  }
}

p {
  text-align: center;
}

.counter-negative {
  color: red;
}

.counter-positive {
  color: green;
}
