.Card {
  padding: 24px;
}

// VARIANTS

.normal {
  background-color: var(--dark-bg-redesigned);
}

.light {
  background-color: var(--light-bg-redesigned);
}

.outline {
  border: 1px solid var(--accent-redesigned);
}

// MODIFICATIONS

// Width

.max {
  width: 100%;
}

// Gap

.gap_0 {
  padding: 0;
}

.gap_8 {
  padding: 8px;
}

.gap_16 {
  padding: 16px;
}

.gap_24 {
  padding: 24px;
}

// Border Radius

.borderRadiusNormal {
  border-radius: 12px;
}

.borderRadiusRound {
  border-radius: 42px;
}
