.CommentCard {
  padding: 1rem;
  border: 1px solid var(--primary-color);
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.username {
  font-weight: 700;
}

.text {
  margin-top: 1rem;
}
